
<div class="container">


    <div class="row justify-content-center">

      <div class="col-md-6 offset-sm-3 mt-4 " >
        <input  placeholder="searching..."  [(ngModel)]="text" (ngModelChange)="search(text)" >
        <button type="button" class="btn btn-primary ml-2"  id=""(click)="findCityByGetCity(text)" >click</button>
        <br><br>
        <p >{{text}}</p>
        <!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" *ngIf="loading"></ngx-loading> -->

        <table class="table table-dark ">
          <thead>
            <tr>
              <th></th>
              <th scope="col">Name City</th>
              <!-- <th>weather_state_name</th> -->
              <th scope="col">weather woeid</th>
              <th scope="col"> weatherImage</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of searching |async">

              <td scope="row">#</td>
              <td >{{item.title}}</td>

              <td >{{item.woeid}}</td>
              <!-- <td  >{{f.weather_state_name}}</td> -->
              <td *ngIf="item.weather_state_name">
                <!-- {{item.weather_state_name}} -->
                  <!-- <img src="https://www.metaweather.com/static/img/weather/png/{{item.weather_state_name}}.png"> -->
              </td>

            </tr>
           </tbody>
        </table>


      </div>
    </div>







</div>
